.wrapper{
    background-color: black;
    width: 28%;
    height: 650px;
}
.dragZone{
    background-color: lightgrey;
    width: 94%;
    height: 93%;
    position: relative;
    top: 2rem;
}
.dragZone > ul > li {
    width: 4rem;
}
